*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #141414;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    z-index: 100;
    transition: background-color 0.3s;
}

.navbar{
    background-color: #141414;
}
.logo{
    height: 40px;
    cursor: pointer;
}

.navbar-nav{
    display: flex;
    gap: 20px;
}

.nav-link{
    color: #e5e5e5;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-link:hover{
    color: #b3b3b3;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-right i {
    font-size: 20px;
    cursor: pointer;
}

.profile-icon{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
}

/*Hero section*/
.hero{
    height: 80vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 100%), url(vk.jpg) center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0, 60px;
    margin-bottom: 20px;
}

.hero-content{
    max-width: 600px;
}
.hero-title{
    font-size: 48px;
    margin-bottom: 16px;
}
.hero-description{
    font-size: 18px;
    margin-bottom: 24px;
    color: #e5e5e5
}
.hero-button{
    display: flex;
    gap: 16px;
}
.btn{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
    padding: 10px;
    border: none;
}
.btn-play{
    background-color: #fff;
    color: #000;
}
.btn-play:hover{
    background-color: rgba(255, 255, 255, 0.75);
}
.btn-more-info{
    background-color: #fff;
    color: #000;
}
.btn-more-info:hover{
    background-color: rgba(153, 153, 153, 0.75);
}
.footer-section{
    background-color: #000000;
    margin-top: 30px;
    padding: 50px 50px;
    width: 100%;
}
.social-icons{
    display: flex;
    gap: 20px;
}
.soc{
    font-size: 20px;
    color: #d9d9d9;
    cursor: pointer;
}
.footer-section-des{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    color: #b3b3b3;
}
.service-section{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn-service{
    padding: 10px;
    width: 130px;
    background-color: #000;
    color:#e5e5e5;
    border: solid 3px #b3b3b3;
    cursor: pointer;
}
.copyright{
    color: #b3b3b3;
    font-size: 15px;
}
/*Movie Section*/
.container{
    max-width: 100%;
    padding: 0 4%;
}
/*section style*/
.content-section{
    margin-bottom: 50px;
}

.section-title{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
    letter-spacing: 0.5px;
}

.content-row{
    display: flex;
    gap: 15px;
    overflow-x: auto;
}
.content-row::-webkit-scrollbar{
    height: 8px;
}
.content-row::-webkit-scrollbar-track{
    background: transparent;
}
.content-row::-webkit-scrollbar-thumb{
    background: #333;
    border-radius: 5px;
}

.content-card{
    position: relative;
    min-width: 140px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-shrink: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.content-card:hover{
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.content-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: brightness 0.3s ease;
}
.content-card:hover img {
    filter: brightness(0.4);
}

.netflix-badge{
    position: relative;
    top: 8px;
    left: 8px;
    background-color: #e50914;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    z-index: 2;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0,1) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.9) 100%);
    opacity: 0;
    transition: opacity;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    color: white;
}

.content-card:hover .card-overlay{
    opacity: 1;
}

.overlay-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.overlay-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.overlay-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.overlay-control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.control-btn{
    padding: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    align-items:center;
    justify-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    font-size: 14px;
}

.control-btn:hover{
    background: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}

.overlay-info{
    display: flex;
    gap: 10px;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
}

.info-batch{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
}

.content-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        transparent 0%, transparent 50%, rgba(0, 0, 0, 0.8) 100%
    );
    z-index: 1;
}

@media(max-width: 120px) {
    .container{
        padding: 0 3%;
    }
    .container-card{
        min-width: 125px;
        height: 220px;
    }
    .section-title{
        font-size: 1.6rem;
    }
}

@media(max-width: 768px) {
    .container{
        padding: 0 2%;
    }
    .container-card{
        min-width: 100px;
        height: 180px;
    }
}